@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Roboto;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 .625rem
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  background-color: #0564a6;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem
}
.header__container {
  max-width: 69.4375rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.header__logo {
  max-width: 15.5rem;
  display: flex;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  justify-self: flex-start;
  position: relative;
  z-index: 10
}
.header__logo img {
  width: 2.9375rem;
  height: 2.9375rem
}
.header__logo span {
  font-weight: 900;
  line-height: 143%;
  text-transform: uppercase
}
.header__menu {
  padding-left: 3.125rem
}
.header__languages {
  justify-self: flex-end;
  position: relative;
  z-index: 5
}
.menu__list {
  display: flex;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: .3125rem;
  flex-wrap: wrap
}
.menu__item {
  position: relative
}
.menu__item::after,
.menu__item::before {
  content: "";
  position: absolute;
  bottom: -.125rem;
  background-color: #fff;
  height: .125rem;
  width: 0;
  transition: width .5s ease
}
.menu__item::before {
  left: 0
}
.menu__item::after {
  right: 0
}
.menu__link {
  font-weight: 500
}
.languages__list {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.8125rem;
  -moz-column-gap: 1.8125rem;
  column-gap: 1.8125rem
}
.languages__item {
  position: relative;
  transition: color .5s ease
}
.languages__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -.875rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: .0625rem;
  height: 1.4375rem;
  background-color: #c1c1c1
}
.languages__link {
  font-weight: 700
}
.languages__link--active {
  color: #efc900
}
.footer {
  background-color: #07477d
}
.footer__body {
  display: flex;
  align-items: center;
  min-height: 8.75rem
}
.footer__item {
  max-width: 35.5625rem;
  width: 100%;
  padding: 1.25rem .625rem;
  min-height: 8.75rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: .0625rem solid rgba(255,255,255,.1)
}
.footer__news {
  max-width: 13.3125rem;
  width: 100%;
  padding: 0 1.375rem
}
.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  position: relative
}
.footer__link span {
  flex: 0 0 auto;
  font-size: 1.375rem
}
.footer__link img {
  width: .4375rem;
  height: .875rem
}
.footer__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 0;
  height: .0625rem;
  transition: width .5s ease
}
.item-footer__body {
  max-width: 24.375rem
}
.item-footer__link {
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: .5rem
}
.item-footer__text {
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1.1
}
.item-footer__bottom {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem
}
.item-footer__author,
.item-footer__date {
  font-size: .625rem;
  color: #d6d6d6
}
.item-footer--station {
  position: relative
}
.item-footer--station::after {
  content: "";
  position: absolute;
  background-image: url(../img/footer/station.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .1;
  width: 9.1875rem;
  height: 8.6875rem;
  right: 1.25rem
}
.item-footer--colony {
  position: relative
}
.item-footer--colony::after {
  content: "";
  position: absolute;
  background-image: url(../img/footer/colony.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .1;
  width: 7.3125rem;
  height: 7.3125rem;
  right: 1.25rem
}
.hero {
  position: relative
}
.hero::after,
.hero::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0
}
.no-webp .hero::before {
  background-image: url(../img/left-decore.png)
}
.hero::before {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  left: 0;
  width: 50%;
  height: 100%
}
.no-webp .hero::after {
  background-image: url(../img/right-decore.png)
}
.hero::after {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  right: 0;
  width: 50%;
  height: 100%
}
.hero__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1.375rem
}
.hero__header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.125rem
}
.hero__header p:not(:last-child) {
  margin-bottom: .5rem
}
.hero__line {
  background: linear-gradient(270deg,#00385f 0,#fff 51%,#00385f 100%);
  max-width: 80rem;
  width: 100%;
  height: .0625rem;
  margin-bottom: .5rem
}
.hero__title {
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-transform: uppercase;
  text-align: center
}
.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.hero__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgba(0,0,0,.5) 0,rgba(5,100,166,.5) 100%);
  z-index: 0
}
.projects-hero__title {
  text-align: center
}
.projects-hero__items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem
}
.projects-hero__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}
.projects-hero__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -.375rem;
  background-color: #fff;
  width: .0625rem;
  height: 100%
}
.projects-hero__image {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 31.25rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative
}
.projects-hero__image img {
  width: 70%;
  height: 70%;
  -o-object-fit: contain;
  object-fit: contain
}
.projects-hero__image picture {
  display: flex;
  align-items: center;
  justify-content: center
}
.projects-hero__name {
  font-weight: 700
}
@media (min-width:81.25em) {
  .hero__container {
    padding-bottom: 9.375rem
  }
  .hero__header {
    font-size: 1rem
  }
  .hero__title {
    font-size: 4.0625rem
  }
  .hero__title {
    margin-bottom: 9.875rem
  }
  .projects-hero__title {
    margin-bottom: 2.75rem
  }
  .projects-hero__name {
    font-size: 3rem
  }
}
@media (max-width:20em) {
  .hero__container {
    padding-bottom: 3.125rem
  }
  .hero__header {
    font-size: .875rem
  }
  .hero__title {
    font-size: 1.5rem
  }
  .hero__title {
    margin-bottom: 3.125rem
  }
  .projects-hero__title {
    margin-bottom: 1.25rem
  }
  .projects-hero__name {
    font-size: 1.25rem
  }
}
@media (max-width:81.25em) {
  .footer__body {
    display: grid;
    grid-template-columns: repeat(3,1fr)
  }
  .footer__news {
    flex-basis: 100%;
    max-width: 100%;
    text-align: center;
    grid-column: 1/4;
    padding: 1.25rem 1.375rem;
    border-top: .0625rem solid rgba(255,255,255,.1)
  }
}
@media (max-width:61.99875em) {
  .projects-hero__image {
    width: 6.25rem;
    height: 6.25rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 6.4375rem .9375rem .9375rem 1.875rem;
    transition: right .3s;
    background-color: #0564a6;
    z-index: 3
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5.1875rem;
    right: -100%;
    top: 0;
    transition: right .3s;
    z-index: 2;
    border-bottom: .0625rem solid #fff
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    right: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__menu {
    order: 3;
    padding-left: 0;
    justify-self: flex-end
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem;
    align-items: flex-end
  }
  .menu__link {
    font-size: 1.5rem
  }
  .footer__body {
    grid-template-columns: repeat(2,1fr)
  }
  .footer__item {
    border-bottom: .0625rem solid rgba(255,255,255,.1);
    padding: .625rem .625rem
  }
  .footer__news {
    grid-column: auto;
    border-top: none
  }
  .hero::before {
    width: 80%
  }
  .hero::after {
    width: 30%
  }
  .projects-hero__image {
    width: 4.375rem;
    height: 4.375rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .header__container {
    grid-template-columns: auto 1fr;
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .menu__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.25rem
  }
  .languages__link {
    font-size: 1.5rem
  }
  .footer__body {
    grid-template-columns: repeat(1,1fr)
  }
  .hero::before {
    width: 90%
  }
}
@media (min-width:20em) and (max-width:81.25em) {
  @supports (padding-bottom:clamp(3.125rem ,1.0841836735rem + 10.2040816327vw ,9.375rem)) {
    .hero__container {
      padding-bottom: clamp(3.125rem ,1.0841836735rem + 10.2040816327vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.0841836735rem + 10.2040816327vw ,9.375rem)) {
    .hero__container {
      padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .hero__header {
      font-size: clamp(.875rem ,.8341836735rem + .2040816327vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.8341836735rem + 0.2040816327vw ,1rem)) {
    .hero__header {
      font-size: calc(.875rem + .125 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.5rem ,0.6632653061rem + 4.1836734694vw ,4.0625rem)) {
    .hero__title {
      font-size: clamp(1.5rem ,.6632653061rem + 4.1836734694vw ,4.0625rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,0.6632653061rem + 4.1836734694vw ,4.0625rem)) {
    .hero__title {
      font-size: calc(1.5rem + 2.5625 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,0.9209183673rem + 11.0204081633vw ,9.875rem)) {
    .hero__title {
      margin-bottom: clamp(3.125rem ,.9209183673rem + 11.0204081633vw ,9.875rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,0.9209183673rem + 11.0204081633vw ,9.875rem)) {
    .hero__title {
      margin-bottom: calc(3.125rem + 6.75 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.7602040816rem + 2.4489795918vw ,2.75rem)) {
    .projects-hero__title {
      margin-bottom: clamp(1.25rem ,.7602040816rem + 2.4489795918vw ,2.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.7602040816rem + 2.4489795918vw ,2.75rem)) {
    .projects-hero__title {
      margin-bottom: calc(1.25rem + 1.5 * (100vw - 20rem)/ 61.25)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.6785714286rem + 2.8571428571vw ,3rem)) {
    .projects-hero__name {
      font-size: clamp(1.25rem ,.6785714286rem + 2.8571428571vw ,3rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.6785714286rem + 2.8571428571vw ,3rem)) {
    .projects-hero__name {
      font-size: calc(1.25rem + 1.75 * (100vw - 20rem)/ 61.25)
    }
  }
}
@media (any-hover:hover) {
  .menu__item:hover::before {
    width: 50%;
    left: 50%
  }
  .menu__item:hover::after {
    right: 50%;
    width: 50%
  }
  .languages__item:hover {
    color: #efc900
  }
  .footer__link:hover::before {
    width: 100%
  }
  .item-footer__link:hover {
    text-decoration: underline
  }
}
.webp .hero::before {
  background-image: url(../img/left-decore.webp)
}
.webp .hero::after {
  background-image: url(../img/right-decore.webp)
}